cbc/build/
cbc/lib/cbc.jar
cbc/lib/libcbc.a
cbc/lib/*.o
cbc/lib/stdarg.s
cbc/net/loveruby/cflat/parser/Parser.java
cbc/net/loveruby/cflat/parser/ParserConstants.java
cbc/net/loveruby/cflat/parser/ParserTokenManager.java
cbc/net/loveruby/cflat/parser/ParseException.java
cbc/net/loveruby/cflat/parser/Token.java
cbc/net/loveruby/cflat/parser/TokenMgrError.java
cbc/net/loveruby/cflat/parser/SimpleCharStream.java
cbc/test/*
!cbc/test/*.*
!cbc/test/Makefile
!cbc/test/TARGETS
cbc/test/*.s
cbc/test/*.o
cbc/test/tc.*
cbc/unit/*.class
examples/*.s
examples/*.o
a.out
